<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>SeHistory</title>
</head>
<body bgcolor="#5A5A5A">
<table cellspacing="2" >
    <caption>
        <tbody align="left">Summer Festival</tbody>
    </caption>
    <tbody align="center">
    <tr>
        <th colspan="2" bgcolor="white"> MainStage I</th>
        <th colspan="2" bgcolor="white"> MainStage II</th>
        <th colspan="2" bgcolor="white"> Tranc Classical</th>
        <th colspan="3" bgcolor="white"> 70's,80's,90's Stage</th>
    </tr>
    <tr>
        <td bgcolor="purple" colspan="2" rowspan="3" >Dj Primary Attack
            <br>1:00 pm - 3:30 pm
            <br>Lorem ipsum dolor sit
            <br> amet, consectetur
            <br> adipisicing elit
        </td>
        <td bgcolor="#3d00bf" rowspan="4">Jonh
            <br>Smith
            <br>1:00 pm -
            <br> 4:00 pm
            <br> Nullam ultrices
            <br>blandit
        </td>
        <td bgcolor="#002C5B" rowspan="4" >Mc Jane
            <br> Smith
            <br>1:00 pm
            <br> 4:00 pm
            <br>Blandit felis
            <br>facilist sit
            <br> amilist
        </td>
        <td bgcolor="#808080" rowspan="3" colspan="2">Dj explosion
            <br> 1:00 pm - 3:00 pm
        </td>
        <td bgcolor="#32C050" rowspan="2" colspan="3">70`s Classics
            <br>1:00 pm - 2:30 pm
        </td>
    </tr>
    <tr>

    </tr>
    <tr>
        <td bgcolor="#1EAA35" colspan="3" rowspan="2">80`s Clasics
            <br>2:30 pm - 4:00 pm
        </td>
        <td></td>

    </tr>
    <tr>
        <td bgcolor="#9370db" colspan="2" rowspan="3">Dj Wanton
            <br>Decstruction
            <br>3:30 pm - 5:30 pm
        </td>
        <td bgcolor="#FF4B4B" colspan="2">Invite #1</td>

    </tr>
    <tr>
        <td bgcolor="#32C050" colspan="2"rowspan="2">Jane
            <br> 4:00 pm - 5:30 pm
        </td>
        <td bgcolor="#DA2727" colspan="2">Invite #2</td>
        <td bgcolor="#6495ed" colspan="3" rowspan="3">90`s Clasics
            <br>4:00 pm - 6:30 pm</td>
        <td></td>
    </tr>
    <tr>
        <td bgcolor="#FF0000" colspan="2">Invite #3</td>
    </tr>
    <tr>
        <td bgcolor="yellow" colspan="2">
            Special Guest
            <br>5:30 pm - 7:00 pm
        </td>
        <td bgcolor="#1EAA35" colspan="2">
            John Smith
            <br> 5:30 pm - 7:00 pm
        </td>
        <td bgcolor="purple" colspan="2" rowspan="3">
            Dj Primary Attack
            <br>6:00 pm - 9:00 pm
            <br>Lorem ipsum dolor sit
            <br>amet, consectetur
            <br>adipisicing elit.
            <br>Vestribulum ac turpis
            <br>non music molestie
        </td>
    </tr>
    <tr>
        <td bgcolor="#9370db" colspan="2">
            Dj Squid Fishlips
            <br> 7:00 pm - 9:00 pm
            <br>World`s number 1 DJ
        </td>
        <td bgcolor="#1EAA35" colspan="2">
            Jane Smith
            <br>7:00 pm - 9:00 pm
            <br>Nullam ultrices <blandit></blandit>
        </td>
        <td bgcolor="yellow">
            A
            <br> 6:30
            <br>pm -
            <br>9:00
            <br>pm
        </td>
        <td bgcolor="yellow">
            B
            <br> 6:30
            <br>pm -
            <br>9:00
            <br>pm
        </td>
        <td bgcolor="yellow">
            C
            <br> 6:30
            <br>pm -
            <br>9:00
            <br>pm
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>